<div class="whitebg" fxLayout="row" fxLayoutAlign="start start">
  <div style="padding-bottom: 5px;" class="fullwidth" fxFlex="40">
    <speakers-list
      [speakers]="speakers"
      (onEdit)="showEditSpeakerForm($event)"
    ></speakers-list>
  </div>

  <div fxFlex="60">
    <add-entity
      *ngIf="!showEditForm"
      [addForm]="speakerForm"
      title="Speaker"
      [addFormFields]="speakerFormFields"
      [showAddForm]="showAddForm"
      (onAdd)="addSpeaker($event)"
      (onClose)="closeAddSpeakerForm($event)"
    >
      <h1>Speakers</h1>
      <h2>{{ speakers?.length }}</h2>

      <h1>Speakers not assigned to section</h1>
      <h3>Bob Anderson</h3>
      <h3>Andrew Shroble</h3>
      <button mat-raised-button (click)="showAddSpeakerForm()">
        Add new speaker
      </button>
    </add-entity>
    <edit-entity
      *ngIf="showEditForm"
      [entity]="activeSpeaker"
       title="Speaker"
      [editForm]="speakerForm"
      [editFormFields]="speakerFormFields"
      (onClose)="closeEditSpeakerForm($event)"
      (onDelete)="deleteSpeaker($event)"
      (onEdit)="editSpeaker($event)"
      (onReset)="resetEditSpeakerForm($event)"

    >
    </edit-entity>
  </div>
</div>
