
  <div class="intro">
  <p class="blaster" fxHide fxShow.gt-sm>
    The Montgomery Information Technology Summit is being held on 20-22 May,
    2019 at the Renaissance Hotel in downtown Montgomery, Alabama.
  </p>
  <p class="blaster-xs" fxHide fxShow.xs-sm>
      The Montgomery Information Technology Summit is being held on 20-22 May,
      2019 at the Renaissance Hotel in downtown Montgomery, Alabama.
    </p>
  <img class="stage" src="./assets/BannerTest.png" fxShow.gt-sm fxHide>
  <img class="stage" src="./assets/bannerXS.png" fxShow.xs fxShow.gt-xs fxShow.gt-sm="false">
  <div class="main">
    <div class="infocards" fxLayout="row wrap">
      
      <mat-card class="mat-elevation-z12" routerLink="/hotel">
      <mat-card-header>
        <mat-card-title >Hotel Information</mat-card-title>
      </mat-card-header>
      <div class="hotel-over">
      <img mat-card-img src="./assets/hotel.gif" width="100%" ></div>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z12" routerLink="/golf">
        <mat-card-header>
          <mat-card-title >Golf Tournament</mat-card-title>
        </mat-card-header>
        <img mat-card-img src="./assets/wynlakes.gif" >
        <mat-card-content>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-elevation-z12">
          <mat-card-header>
            <mat-card-title>FAQ</mat-card-title>
          </mat-card-header>
          <img mat-card-img src="">
          <mat-card-content>
            <p>What else needs to go here? Anything? The Montgomery IT Summit has
                been designated as an alternate duty location for the Air Force Business and
                Enterprise Systems (BES) Directorate.</p>
            </mat-card-content>
          </mat-card>
  </div>
</div>
</div>
  <div class="sponsorlogos" fxLayout="column" fxHide fxShow.gt-xs>
  
      <h1 class="sponsorstitle">Sponsors</h1>
    
      <ul class="logo-list">
        <li>Sponsor logo here</li>
        <li>Sponsor logo here</li>
        <li>Sponsor logo here</li>
        <li>Sponsor logo here</li>
        <li>Sponsor logo here</li>
        <li>Sponsor logo here</li>
      </ul>
   </div>

