
<div class="main">
  <p class="blaster">The Montgomery Information Technology Summit is being held on XX-XX May, 2019 at the Something Hotel in downtown Montgomery, Alabama.</p>
  <p>
    Hosted by the Montgomery AFCEA Chapter, this event allows attendees to
    engage with speakers, panel members, and other Government and Industry
    leaders in understanding how the Government can work with their contractor
    partners to deliver collaborative IT solutions and make them operational in
    a timely and effective manner for the Warrior. The Montgomery IT Summit has
    been designated as an alternate duty location for the Air Force Business and
    Enterprise Systems (BES) Directorate.
  </p>
  <p>
    This year, as in previous years, Montgomery IT Summit highlights up-to-
    the-minute trends in Air Force programs and technology. We bring in the best
    and brightest DoD and Industry Leaders to inform attendees of the current
    state of Information Technology and its use within the US Air Force. Our
    Speakers and Panel members then close the loop by pointing out future growth
    areas and newly developing business opportunities for Industry participants.
  </p>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Thank You to All of Our Sponsors</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
