<div class="container">
<h1>Privacy Statement</h1>
<p>
  AFCEA Montgomery respects the privacy of its members and other visitors to its
  websites. AFCEA strongly believes that if electronic commerce and online
  activities are to flourish, consumers must be assured that information
  provided online is used responsibly and appropriately. To protect online
  privacy, AFCEA has implemented the following policy which together with our
  Terms and Conditions govern AFCEA’s relationship with you in relation to this
  website.
</p>
<p>
  If users have questions or concerns regarding this statement, they should
  contact us at info@afceamontgomery.com
</p>

<h3>What Information Does AFCEA Collect?</h3>
<p>
  Data AFCEA collects is used only to help AFCEA better serve its members and
  customers. It is our policy to collect and store only personal information
  that is knowingly provided. If our privacy policies change, we may notify all
  users by e-mail or by announcement placed on the website.
</p>
<h3>From General Users</h3>
<p>
  AFCEA does not collect any personal information from anonymous users browsing
  its website other than the public IP address.
</p>
<h3>From AFCEA Members, Conference Registrants, and Other Customers</h3>
<p>
  To gain access to members-only resources and personalization features on the
  AFCEA website, members are asked to use their member username and password.
  AFCEA asks other users to provide their name, organization name, business
  phone, and e-mail. Credit card information is collected from an individual
  when joining or renewing a membership, registering for an educational course,
  or event, or purchasing other goods or services. This data is submitted
  voluntarily. Similar information may be submitted to AFCEA through membership
  applications, conference or seminar registrations, publication orders, and
  subscriptions. Additionally, for some emails sent in HTML format by AFCEA to
  its members and other customers, AFCEA may collect specific information
  regarding what the recipient does with that email. For those emails, AFCEA may
  monitor whether a recipient subsequently clicks through to links provided in
  the message. Other information collected through this tracking feature
  includes: email address of a user, the date and time of the user’s “click,” a
  message number, name of the list from which the message was sent, tracking URL
  number, and destination page. AFCEA will only use this information to enhance
  its services and distribution of those services to its members and other
  customers. This information will not be distributed in any other manner
  without user consent.
</p>
<h3>How does AFCEA use Cookies?</h3>
<p>
  A cookie is a piece of data stored on the user’s computer tied to information
  about the user. Cookies used on our websites do not contain personally
  identifiable information. We use non-persistent, session based cookies, which
  terminate when the browser is closed. A non-persistent cookie in the browser’s
  memory, is set whenever the user is authenticated during Login. In subsequent
  transactions with protected pages, this cookie helps us re-authenticate the
  user.
</p>
<h3>How does AFCEA Use Data Collected?</h3>
<p>
  AFCEA uses information voluntarily submitted by members and other customers in
  the following ways:
</p>
<h3>Disclosures to Third Parties</h3>
<p>
  Though we make every effort to preserve user privacy, we may need to disclose
  personal information when required by law wherein we have a good-faith belief
  that such action is necessary to comply with a current judicial proceeding, a
  court order, or legal process served on our website.
</p>
<p>
  AFCEA is subject to the investigatory and enforcement powers of the Federal
  Trade Commission (FTC).
</p>
<p>
  AFCEA will disclose personal information in response to lawful requests by
  public authorities, including to meet national security or law enforcement
  requirements.
</p>
<h3>Credit Card Account Information</h3>
<p>
  AFCEA does not disclose credit card account information provided by its
  members and customers. When members and customers choose to pay using their
  credit cards, AFCEA submits the information needed to obtain payment to the
  appropriate clearinghouse. All sensitive data, such as credit card
  information, is transmitted via SSL encryption.
</p>
<h3>How can users access information they have submitted through the website?</h3>
<p>
  Members of AFCEA have direct access to review, update and/or correct their
  personal information through the members-only portion of the website which is
  accessible only by using their user ID and password. Event registrants and
  other non-member users can gain access to their data for review and correction
  by contacting us at info@afceamontgomery.com. Member data may be purged
  completely from our systems via a written request.
</p>
<h3>Data Protection and Transfer of Information Overseas</h3>
<p>
  We are committed to protecting the security of information. We use a variety
  of security technologies and procedures to help protect your Personal Data
  from unauthorized access, modification or disclosure, as well as from misuse,
  interference or loss. We store all information in electronic form. The data
  collected is maintained in databases that are housed on equipment stored in
  secure, limited access facilities. Access to personal information is
  restricted to those employees that are responsible for collecting the data and
  those whose duties require them to use the data.
</p>
<p>
  In the event we transfer your Personal Data, we will take appropriate measures
  to protect your privacy and the Personal Data we transfer. Should we need to
  transfer your Personal Data for purposes other than for providing the Services
  and in accordance with this Policy, we will, to the extent permitted by law,
  obtain assurances from the recipients that they will safeguard your Personal
  Data in a manner that is consistent with this Policy. In addition, if we learn
  that an agent is using or disclosing your Personal Data in a manner that is
  contrary to this Policy, we will take reasonable steps to prevent or stop such
  use or disclosure. AFCEA may be liable for onward transfers of Personal Data
  to third parties in violation of this Policy and the EU-U.S. Privacy Shield
  Framework.
</p>
<h3>What Privacy Issues Arise with Links to Other Sites?</h3>
<p>
  This website contains links to other websites. AFCEA has no control over and
  is not responsible for the privacy policies or content of such sites.
</p>
<h3>Consent to Use Personal Information and Dispute Resolution</h3>
<p>
  For the purposes of the Data Protection Act(s) 1984 and 1998 (as applicable),
  and in compliance with the EU-U.S. Privacy Shield framework, AFCEA or its
  agents must store, host and otherwise process the information (including
  personal data) supplied by the user when registering for this website. AFCEA
  may send such data outside the European Economic Area for processing.
  Voluntary provision of information to AFCEA will be considered consent for
  AFCEA to use that information in the manner and for the purposes stated above.
</p>
<p>
  Except for transfers of information as described herein, we will not disclose
  any of your Personal Data to third parties without giving you the choice to
  opt-out of such of disclosure.
</p>
<p>
  AFCEA complies with the EU-U.S. Privacy Shield Framework regarding the
  collection, use, and retention of personal information from European Union
  member countries. To learn more about the Privacy Shield program, and to view
  AFCEA’s certification, please visit https://www.privacyshield.gov
</p>
<p>
  AFCEA has certified that it adheres to the Privacy Shield principles of
  Notice; Choice; Accountability for Onward Transfer; Security; Data Integrity
  and Purpose Limitation; Access; and Recourse, Enforcement and Liability. If
  there is any conflict between the policies in this Privacy Policy and the
  Privacy Shield principles, the Privacy Shield principles shall govern.
</p>
<h3>What Means of Redress Are Available?</h3>
<p>
  If any user suspects AFCEA has handled its personal information in a manner
  that does not comply with this privacy statement, please contact us at
  info@afceamontgomery.org
</p>
<p>
  For issues regarding the EU-U.S. Privacy Shield program or General Data
  Protection Regulation (GDPR) compliance that cannot be resolved by contacting
  our Customer Service Center or the AFCEA CIO, users may contact the EU Data
  Protection Authorities for dispute resolution.
</p>
</div>