<div class="container">
  <div><h1 class="title">Speakers</h1></div>
  <p class="highlight">
      This year, as in previous years, Montgomery IT Summit highlights up-to-
      the-minute trends in Air Force programs and technology. We bring in the best
      and brightest DoD and Industry Leaders to inform attendees of the current
      state of Information Technology and its use within the US Air Force. Our
      Speakers and Panel members then close the loop by pointing out future growth
      areas and newly developing business opportunities for Industry participants.
  </p>

  <div class="agenda_day" fxLayout="row">
    <button mat-raised-button color="primary">Keynote</button>
    <button mat-raised-button fxFlexOffset="2" color="primary">Panelist</button>
  </div>
  
  <!--
    <div class="speaker_tab">
      <mat-tab-group style="background-color: white; color: #33302d;">
        <mat-tab label="Keynote"> Content 1 </mat-tab>
        <mat-tab label="Panelist"> Content 2 </mat-tab>
      </mat-tab-group>
    </div>
  -->

  <div class="speaker-parent">
    <div class="keynote-title">
      <h1>Brigadier General Randolph Rudolph</h1>
      <h3>Commander, Cyberman Cyber Squadron</h3>
    </div>
    <div class="keynote-bio">
      <p>
        This person is very important. This is what they do. They run the cybers
        for the cyberman. This person is very important. This is what they do.
        They run the cybers for the cyberman. This person is very important.
        This is what they do. They run the cybers for the cyberman. This person
        is very important. This is what they do. They run the cybers for the
        cyberman. This person is very important. This is what they do. They run
        the cybers for the cyberman.
      </p>
    </div>

    <div class="speaker-parent">
        <div class="keynote-title">
          <h1>Brigadier General Randolph Rudolph</h1>
          <h3>Commander, Cyberman Cyber Squadron</h3>
        </div>
        <div class="keynote-bio">
          <p>
            This person is very important. This is what they do. They run the cybers
            for the cyberman. This person is very important. This is what they do.
            They run the cybers for the cyberman. This person is very important.
            This is what they do. They run the cybers for the cyberman. This person
            is very important. This is what they do. They run the cybers for the
            cyberman. This person is very important. This is what they do. They run
            the cybers for the cyberman.
          </p>
        </div>
      </div>
  </div>

  
</div>
<app-footer></app-footer>