<div class="container" fxLayout="column">
  <div><h1 class="title">Registration</h1></div>

  <div><h3 class="highlight">
    Select your registration method below. These rates will change as we get
    closer to the event!
  </h3></div>
  <div class="options" fxLayout="row" fxLayoutGap="20px" fxHide fxShow.gt-sm>
    <button mat-raised-button routerLink="/hotel" target="_blank">
      <mat-icon>hotel</mat-icon>Hotel Information
    </button>
    <button mat-raised-button routerLink="/golf" target="_blank">
      <mat-icon>golf_course</mat-icon>Golf Information
    </button>
    <button mat-raised-button routerLink="/faq" target="_blank">
      <mat-icon>money_off</mat-icon>Refund Policy
    </button>
  </div>

  <div class="MITS_reg" fxLayout="column">MITS Registration list</div>
  <div class="golf_reg" fxLayout="column">Golf registration list</div>
  <div class="luncheon_reg">Luncheon</div>
</div>
