.container {
    margin: auto;
    max-width: 1100px;
    padding-top: 30px;
    justify-content: center;
    align-items: center; 
    background-color: #2b3843;
    color: white;
    display: flex;
  }

.title {
    padding-bottom: 15px;
    font-size: 48px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    border-bottom: 1px solid white;
}

.highlight {
    font-size: 24px;
    font-weight: 200;
    max-width: 950px;
    text-align: center;
}

.options {
    display: flex;
    justify-content: space-around;

}

.mits_reg {
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 600px;
}

.golf_reg {
    padding-top: 20px;
    max-width: 600px;
    padding-bottom: 5px;
}

.luncheon_reg {
    max-width: 800px;
}

.disabled {
    background-color: lightgray;
}

