.whitebg {
    background-color: white;
    color: black;
}

.pad10 {
    padding: 10px;
}

.border {
    border-bottom: 1px solid #F7F7F7;
    border-top: 1px solid #F7F7F7
}

.fullwidth {
    width: 100%;
  }

.over{
    background-color: #F7F7F7;
    cursor: pointer;
}

.padtopleft10 {
    padding-left: 10px;
    padding-top: 10px;
}