<div class="footer">
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="copy">&copy; AFCEA Montgomery Chapter 2019</div>
        <div class="spacer"></div>
      <div class="social" fxLayout="row nowrap" fxLayoutAlign="center center">
        <a class="nav" href="http://www.facebook.com/MITSAFCEAMGM"><button mat-button><img src="./assets/FB_Logo.png" style="height: 28px"></button></a>
      <a class="nav" href="http://www.twitter.com/MITSAFCEAMGM"><button mat-button><img src="./assets/Twitter_Logo.png" style="height: 28px"></button></a>
      <a class="nav" href="http://www.instagram.com/MITSAFCEAMGM"><button mat-button><img src="./assets/IG_Logo.png" style="height: 38px"></button></a>
      <a class="nav" href="afceawebsite"><img src="./assets/AFCEA_Logo.png" style="height:50px; padding-top: 10px"></a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
