<div class="container">
<p>
  1. Authority to Register and/or to Act as Agent. You represent and warrant to
  the Montgomery AFCEA Chapter ("Montgomery AFCEA") that you have full legal
  authority to complete this event registration, including full authority to
  make use of the credit or debit card to which registration fees will be
  charged. In addition, if you are registering third parties, you represent and
  warrant that you have been duly authorized to act as agent on behalf of such
  parties in performing this event registration. By proceeding with this event
  registration, you agree that the terms of this Registration Agreement shall
  apply equally to you and to any third parties for whom you are acting as
  agent.
</p>
<p>
  2. Compliance with Children's Online Privacy Protection Act (COPPA). You
  represent and warrant that, in compliance with COPPA, you are over thirteen
  (13) years of age, and that if you are registering a child under fourteen (14)
  years of age you are the parent of such child, and do hereby consent to the
  collection of such child's personal information by Montgomery AFCEA.
</p>
<p>
  3. Refunds due to Weather or Other Reasons. Any refunds shall be at the sole
  discretion of Montgomery AFCEA. There will be no refunds due to weather.
</p>
<p>
  4. Limitation of Liability; Disclaimer of Warranties. Montgomery AFCEA SHALL
  NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL
  DAMAGES, RESULTING FROM (A) THE USE OR THE INABILITY TO USE Montgomery AFCEA
  OR (B) FOR THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES OR (C)
  RESULTING FROM ANY GOODS OR SERVICES PURCHASED OR OBTAINED OR TRANSACTIONS
  ENTERED INTO THROUGH Montgomery AFCEA OR (D) RESULTING FROM UNAUTHORIZED
  ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA, INCLUDING BUT NOT
  LIMITED TO, DAMAGES FOR LOSS OF PROFITS, USE, DATA OR OTHER INTANGIBLE, EVEN
  IF Montgomery AFCEA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOU
  EXPRESSLY AGREE THAT USE OF Montgomery AFCEA IS AT YOUR SOLE RISK. Montgomery
  AFCEA IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. Montgomery AFCEA
  EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING
  WITHOUT LIMITATION ANY WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
  PURPOSE OR NON-INFRINGEMENT.
</p>
<p>
  Montgomery AFCEA makes no warranty that the Montgomery AFCEA website' services
  will be uninterrupted, secure or error free. Montgomery AFCEA does not
  guarantee the accuracy or completeness of any information in, or provided in
  connection with, the Montgomery AFCEA website. Montgomery AFCEA is not
  responsible for any errors or omissions, or for the results obtained from the
  use of such information. You understand and agree that any material and/or
  data downloaded or otherwise obtained through the use of the Montgomery AFCEA
  site is at your own discretion and risk and that you will be solely
  responsible for any damage to your own computer system or loss of data that
  results from the download of such material and/or data.
</p>
<p>
  5. Indemnification. You agree to indemnify and hold each of Montgomery AFCEA
  and its officers and employees harmless from any claim or demand, including
  reasonable attorneys' fees, made by any third party due to or arising out of
  your use of Montgomery AFCEA or the violation of any term of this Liability
  Waiver or the Montgomery AFCEA Terms of Service by you.
</p>
<p>
  6. Applicable Law; Consent to Jurisdiction. The Montgomery AFCEA site
  (excluding linked website) is controlled by Montgomery AFCEA from its offices
  within the State of Alabama, United States of America. By completing this
  event registration, both you and Montgomery AFCEA agree that the statutes and
  laws of the State of Alabama, without regard to the conflict of laws
  principles thereof, will apply to all matters relating to this event
  registration, this Liability Waiver, or other use of the Montgomery AFCEA
  website. You agree that exclusive jurisdiction for any dispute with Montgomery
  AFCEA resides in the courts of the State of Alabama and you further agree and
  expressly consent to the exercise of personal jurisdiction in the courts of
  the State of Alabama in connection with any dispute including any claim
  involving Montgomery AFCEA or its affiliates, subsidiaries, employees,
  contractors, officers, directors, telecommunication providers and content
  providers.
</p>
<p>
  7. Photo Release. You understand that at this event or related activities, you
  may be photographed. You agree to allow your photo, video, or film likeness to
  be used for any legitimate purpose by the event holders, producers, sponsors,
  organizers, and assigns.
</p>
<p>
  8. Severability. If any provision of this Liability Waiver shall be unlawful,
  void, or for any reason unenforceable, then that provision shall be deemed
  severable from this Liability Waiver and shall not affect the validity and
  enforceability of any remaining provisions.
</p>
</div>