a.nav {
    color: #13191E;
    padding-right: 10px;
    text-decoration: none;
    padding-top: 16px;
    font-size: 24px;
    font-family: 'Titillium Web', sans-serif;
    padding-left: 10px;
}

.header__content_lg {
    display: flex;
    position: top;
    flex-wrap: nowrap;
    height: 100px;
   }

.header__content_md {
    display: flex;
    position: top;
    flex-shrink: 1;
    flex-wrap: nowrap;
    height: 100px;
   }

.mat-toolbar {
    height: 77px;
    padding-top: 5px;
    font-size: 36px;
    box-sizing: border-box;
    margin: 0 auto;
    flex-shrink: 1;
    padding-bottom: 10px;
    display: flex;
}

.toolbar_xs {
    height: 57px;
    padding-top: 5px;
    font-size: 36px;
    box-sizing: border-box;
    margin: 0 auto;
    flex-shrink: 1;
    padding-bottom: 10px;
    display: flex;
}


.spacer {
    flex-grow: 1;
    flex-wrap: nowrap;
}

.leftside {
   flex-shrink: 1;
}

.rightside {
   flex: 0 0;
   
}

.rightside-xs {
    flex: 0 0;
    padding-top: 20px;
 }

.mat-raised-button {
    width: 148px;
    height: 48px;
    font-size: 24px;
    font-family: 'Titillium Web', sans-serif;
    
}

.mat-button {
    width: 80px;
    height: 80px;
    display: flex;
}

.mat-icon {
    font-size: 48px;
    
}