<div class="main">
  <button mat-raised-button (click)="close()">Close</button>
  <button mat-raised-button (click)="reset()">Reset</button>
  <button mat-raised-button (click)="delete()">Delete</button>

  <form [formGroup]="editSpeakerForm" (ngSubmit)="submitHandler()">
    <hr />
    <div fxLayout="column" fxLayoutGap="5px">
      <mat-form-field>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="lastName" />
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="title" />
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="bio" />
      </mat-form-field>
    </div>

    <button mat-raised-button>Save</button>
  </form>
</div>
