.container {
    margin: auto;
    max-width: 1100px;
    padding-top: 30px;
    justify-content: center;
    align-items: center; 
    background-color: white;
    color: #2b3843;
  }

.title {
    padding-bottom: 15px;
    font-size: 48px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    border-bottom: 1px solid #2b3843;  
}

.highlight {
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 18px;
}

.MITS_sponsor {
    padding-bottom: 5px;
}

.golf_sponsor {
    padding-bottom: 5px;
}

.disabled {
    background-color: lightgray;
}