<div class="container" fxLayout="column">
  <div><h1 class="title">Sponsorships</h1></div>

  <div style="padding-top: 10px; padding-bottom: 5px;" *ngFor="let event of sponsorEvents">
    <h2 style="padding-left: 15px;">{{event.waEvent[0].name}}</h2>
      <p
        style="padding-left: 20px; padding-right: 20px;"
        innerHtml="{{ (event?.waEvent)[0]?.description }}"
      ></p>
      <mat-list style="background-color: white;">
        <mat-list-item
          *ngFor="let type of (event?.waEvent)[0]?.types"
        >
          
  
          
          <div fxFlex></div>
          <h2 style="margin-top: 15px;">{{ type.basePrice | currency }}</h2>
          <div style="padding-right: 10px; padding-left: 10px">-</div>
          <button
            (click)="register(type, event?.mainEventId)"
            style="padding-left: 10px;"
            mat-stroked-button
          >
            Sponsor
          </button>
  
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  
</div>
