<div class="container" >
  <h1>Montgomery AFCEA Golf Tournament</h1>
  <p>
    Plan to join us on Monday, May 21nd as we kick off Montgomery IT Summit 2018
    with our annual Montgomery AFCEA Golf Tournament. Proceeds from the Golf
    Tournament benefit the Montgomery AFCEA Chapter Education Foundation. Since
    its inception, the Montgomery AFCEA Education Foundation has invested over
    $3 million dollars in scholarships and other benefits for Montgomery area
    students, helping to transform Montgomery into one of the fastest growing
    centers of technical excellence in the Southern United States.
  </p>
  <p>
    Take advantage of the many opportunities available to partner with us in
    sponsoring this event. A broad range of sponsorship opportunities exist for
    companies and organizations of all sizes. Click here for complete
    sponsorship information. Corporate sponsorship includes having your
    corporate logo displayed on the large LCD digital scoreboard during the
    tournament.
  </p>
</div>
<div fxLayout="column" class="tourny">
  <div class="tourny" fxLayout="row wrap"  >
      <mat-list class="info">
        <h2>Tournament Details</h2>
        <mat-list-item
          ><mat-icon>calendar_today</mat-icon>May, 2019</mat-list-item
        >
        <mat-list-item
          ><mat-icon>alarm_on</mat-icon>0800 Morning / 1200
          Afternoon</mat-list-item
        >
        <mat-list-item
          ><mat-icon>group</mat-icon>Four Person
          Scramble</mat-list-item
        >
        <mat-list-item
          ><mat-icon>room</mat-icon>Wynlakes Country Club, Montgomery,
          Alabama</mat-list-item
        >
        <mat-list-item><mat-icon>card_giftcard</mat-icon>Placement and Skill Prizes</mat-list-item>
      </mat-list>
      <mat-list class="included">
        <h2>Registration Includes</h2>
        <mat-list-item
          ><mat-icon>restaurant</mat-icon>Breakfast / Lunch /
          Dinner</mat-list-item
        >
        <mat-list-item
          ><mat-icon>my_location</mat-icon>Practice range balls</mat-list-item
        >
        <mat-list-item
          ><mat-icon>golf_course</mat-icon>Greens Fees</mat-list-item
        >
        <mat-list-item><mat-icon>vpn_key</mat-icon>Cart Rental</mat-list-item>
        <mat-list-item
          ><mat-icon>fastfood</mat-icon>Snacks & Drinks</mat-list-item
        >
      </mat-list>
    </div>
      <div class="extra" fxLayout="column">
        <p><b>Rental clubs are not available at Wynlakes.</b></p>
      <p>
        <b>Military and DoD Civilian Personnel must pay a registration fee and take
        leave to participate.</b>
      </p>
      <div class="reserve" fxLayout="row wrap" fxLayoutGap="15px">
          <button mat-raised-button routerLink="/register"><mat-icon>touch_app</mat-icon>Reserve your spot!</button>
        
          <button mat-raised-button routerLink="/sponsors"><mat-icon>supervised_user_circle</mat-icon>Sponsorship Opportunities</button>
        </div>
        </div>
  </div>

   <!-- <div class="container">
      <div class="wynlakes" fxLayout="column" >
      <h1>About Wynlakes</h1>
      <p>
        Golf at Wynlakes Golf & Country Club offers an experience that is
        exciting and challenging. The 200 acre championship course winds through
        rolling hills, 14 shimmering lakes and large oaks with dangling moss.
        Beautifully manicured fairways and greens, colorful landscaping, and
        strategically placed fountains and bridges make each hole a splendid
        visual experience.
      </p>
      <p>
        The golf course, designed by world renowned architect Joe Lee, opened in
        1986 and was renovated by Billy Fuller and re-opened in 2006. Diverse
        course design features such as sculptured fairways, plentiful bunkers,
        and plateau greens enhance the challenge.
      </p>
     </div> 
    </div> -->


<!-- style="background-image: url('./assets/wynlakes.gif'); background-repeat: no-repeat; background-size:cover; background-position: center center; height=100%">-->