<div class="container">
<h1>About Our Venue</h1>
<p>
  Unique among downtown Montgomery, Alabama hotels, Renaissance Montgomery Hotel
  & Spa at the Convention Center boasts stunning architecture highlighted by
  modern amenities and a rooftop pool. An Alabama capitol hotel situated
  downtown near Maxwell Air Force Base, this stylish Montgomery, Alabama, hotel
  features more than 103,000 square feet of meeting space, an 1,800-seat
  performing arts center, a 73,000-square-foot exhibit hall, and a
  9,000-square-foot European spa. Comfort reigns supreme in each of our guest
  rooms, featuring high-tech amenities, such as HD LCD TVs, wireless and touch
  screen phones, Wi-Fi and a connectivity panel for all your electronic devices.
  Enjoy delectable cuisine at The House restaurant, sample high-quality seafood
  at Wintzell’s Oyster House, or mingle at The Exchange at this chic 4-Diamond
  Montgomery hotel in the historic downtown area. Enjoy the delights of
  Alabama's capitol at the finest among hotels in Montgomery, Renaissance
  Montgomery Hotel & Spa at the Convention Center.
</p>
<div class="reserve"><button mat-raised-button>Book your conference room rate here!</button></div>
<div class="img-list" fxLayout="row wrap">
  
  <div class="image"><img mat-card-img src="./assets/hotel2.jpg"></div>
  <div class="image">
  <img mat-card-img src="./assets/hotel3.jpg"></div>
</div>
</div>
